h1{
  text-align: center;
}
#title{
    text-align: center;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FF6B2C;
    border-radius: 40px;
}
.content{
    text-align: center;
}
#name{
    width: 350px;
    height: 20px;
    padding: 12px;
    margin: 6px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}
#email{
    width: 350px;
    height: 20px;
    padding: 12px;
    margin: 6px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

#message{
    width: 350px;
    height: 100px;
    margin-top: 12px;
    resize: none;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
}
fieldset{
    margin: 0 auto;
    width: 500px;
    height: 500px;
    background-color: whitesmoke;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid;
    border-color: #FF6B2C;
    padding: 20px;
}
button{
    width: 120px;
    height: 40px;
    display: block;
    margin: 20px auto 0;
    background-color: #FF6B2C;
    border-radius: 20px;
}
.title_input{
    font-weight: bold;
}